// Sticky footer start
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .admin-bar &  {
    min-height: calc(100vh - 32px);
  }
}

.content {
  flex: 1;
}

.header,
.footer {
  flex-shrink: 0;
}
// Sticky footer finish
